body{
    background-color: white;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;}
#cabeçalho{
    background-color:rgb(204, 65, 65);
    padding: 3px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    padding: 10px;
    
}